html {
  font-family: 'Playfair Display', serif;
}

body {
  padding: 0;
  margin: 0;
}

nav #navIcons {
  display: none;
}

#wrapper {
  border: 1px solid black;
  margin: 1em;
}

.hero h1 {
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  color: #1A2236;
}

nav {
  display: flex;
  border: 1px solid red;
  justify-content: flex-end;
}
