
/* NAVBAR */
html {
  font-family: 'Inter', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

nav i {
  padding-left: 100px;
}

ul {
  display: flex;
  width: 300px;
  justify-content: space-around;
  list-style-position: inside;
  padding-left: 0;
}

li {
  list-style-type: none;
  margin-left: 0;
}

.logo {
  font-weight: bolder;
  color: #42526e;
  text-align: center;
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.burguerMenu {
  display: none;
}

/* HERO */
hgroup {
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #172b4d;
  display: flex;
  justify-content: center;
}

h2 {
  color: #00ab84;
  display: flex;
  justify-content: center;
}

h1,
h2 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0.37px;
}

#supportText {
  max-width: 860px;
  height: 96px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
  display: flex;
}

section {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body main {
  font-family: 'Inter', sans-serif;
  height: 130vh;
  background-image: url(static/Header-llustration-desktop@2x.png);
  background-size: cover;
  background-color: white;
  background-repeat: repeat;
  background-position: center;
}

.social {
  margin-top: 20px;
  width: 180px;
  display: flex;
}

.social a {
  flex: 1;
}

#footer {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactForm button {
  margin-top: 0.7em;
}

#footer button {
  margin-top: 30px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}

#footer button:hover {
  transform: scale(1.3);
  cursor: pointer;
}

#works {
  color: #172b4d;
  height: 97px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-top: 50px;
}

.cardContainer {
  margin-top: 62px;
  display: grid;
  grid-gap: 24px 24px;
  grid-template-columns: 375px;
  justify-items: center;
}

.card2 {
  width: 377px;
}

.card3 {
  height: 377px;
  height: auto;
}

.card1 .img {
  width: 327px;
  height: 478px;
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between;
}

.img .cardFooter {
  width: 327px;
  height: 208px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  flex-direction: column;
}

.footerTitle h3 {
  width: 295px;
  height: 57px;
  margin: 0;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  font-family: inter, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
}

.skillFooter .tags {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 72px;
}

.skillFooter2 .tags {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 72px;
  flex-wrap: wrap;
}

.skillFooter2 .tags li {
  padding: 12px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #fff;
  color: #36b37e;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 8px;
  font-weight: 600;
}

.img .cardFooter .tags {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}

.skillFooter .tags li {
  padding: 12px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #fff;
  color: #36b37e;
  margin-left: 4px;
  margin-right: 4px;
  font-weight: 600;
}

.img .cardFooter .tags li {
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  background-color: #ebf0ee;
}

.cardBtn {
  border-radius: 4px;
  width: 122px;
  height: 48px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  background-color: #36b37f;
  color: #fff;
  border-style: none;
  margin-bottom: 24px;
}

.cardBtn:active {
  background-color: #008552;
}

.cardBtn:hover {
  box-shadow: 0 15px 20px rgb(54, 179, 127, 0.3);
}

#getMyResume {
  border-radius: 4px;
  width: 159px;
  height: 48px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  background-color: #36b37f;
  color: #fff;
  border-style: none;
}

#getMyResume:hover {
  box-shadow: 0 15px 20px rgb(54, 179, 127, 0.3);
}

#getMyResume:active {
  background-color: #008552;
}

#aboutMe {
  height: 377px;
  display: flex;
  flex-direction: column;
  margin-top: 3.5em;
  align-items: center;
  justify-content: space-between;
  width: 375px;
  background-image: url(static/illustration-aboutme-mobile.png);
  background-position: center;
  background-position-y: bottom;
}

#aboutMe h2 {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  display: flex;
  justify-content: center;
  line-height: 52px;
  text-align: center;
}

#aboutMe p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  text-align: center;
  margin: 0;
  display: flex;
  width: 351px;
}

.img1 {
  width: 300px;
  height: 270px;
  align-self: center;
  padding: 35px;
  border-radius: 3em;
}

#port1 {
  transition-property: color;
  transition-duration: 1s;
  color: black;
}

#port1:hover {
  color: #00ab84;
}

#port2 {
  transition-property: color;
  transition-duration: 1s;
  color: black;
}

#port2:hover {
  color: #00ab84;
}

#port3 {
  transition-property: color;
  transition-duration: 1s;
  color: black;
}

#port3:hover {
  color: #00ab84;
}

#about:hover {
  font-size: large;
  font-weight: bolder;
  color: #00ab84;
}

#contact:hover {
  font-size: large;
  font-weight: bolder;
  color: #00ab84;
}

#AboutAndIllu {
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#AboutAndIllu h2 {
  padding-top: 25px;
  margin-right: 20px;
}

.skills {
  width: 327px;
  height: 352px;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.skills .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 50px;
  background-color: #fff;
}

.circle .imgSkill {
  width: 60px;
  height: auto;
  margin-top: 14px;
  margin-left: 10px;
}

.card1 .skills {
  width: 327px;
  height: 352px;
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.skillFooter {
  width: inherit;
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skillFooter h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.skillFooter2 {
  width: inherit;
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skillFooter2 h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

#worksSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
  background: url(static/textArea_BG.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5em;
  align-items: center;
}

form input,
textarea {
  width: calc(100% - 4em);
  padding: 1em;
  font-family: 'Inter', sans-serif;
  border: 1px solid #d0d9d4;
  border-radius: 0.3em;
  font-size: 1em;
}

form textarea {
  background: url(static/textAreaIcon.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

form input:focus,
form textarea:focus {
  border: 2px solid #60c095;
}

#contactForm h3 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
  color: #172b4d;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#formEmail {
  color: #42526e;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 150px;
  text-align: center;
}

/* MEDIA QUERIES */
@media all and (max-width: 768px) {
  h1,
  h2 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.37px;
  }

  #supportText {
    max-width: 600px;
    height: 96px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    color: #172b4d;
    display: flex;
    padding-top: 30px;
  }
}

@media all and (max-width: 600px) {
  .burguerMenu {
    min-width: 360px;
    height: 130px;
    display: flex;
    align-items: center;
    padding-top: 12px;
  }

  .burguerMenu > * {
    color: #172b4d;
    margin: 0;
    flex: 1;
  }

  .burguerMenu > div {
    flex: 2;
  }

  .burguerMenu > span {
    flex: 2;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }

  #supportText {
    max-width: 327px;
  }
}

@media all and (max-width: 600px) {
  nav {
    display: none;
  }

  hgroup {
    width: 327px;
    height: 192px;
  }
}

@media all and (max-width: 600px) {
  #footer {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  #aboutMe {
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 375px;
    background-image: url(static/illustration-aboutme-mobile.png);
    background-position: center;
    background-position-y: bottom;
  }

  #works {
    width: 327px;
  }

  body main {
    height: 110vh;
  }

  h1,
  h2 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.37px;
  }

  #footer ul {
    padding-top: 100px;
    padding-bottom: 0;
    margin-top: 0;
  }

  .burguerMenu {
    padding-bottom: 40px;
  }
}

@media all and (max-width: 1100px) {
  body main {
    font-family: 'Inter', sans-serif;
    background-image: url(static/Header-llustration-desktop@2x.png);
    background-size: 200%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 100px;
  }
}

@media all and (min-width: 768px) {
  #worksSkills .cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    gap: 32px 24px;
  }
}

@media all and (min-width: 768px) {
  #aboutMe {
    width: 800px;
    height: auto;
    background-image: none;
  }

  #AboutAndIllu {
    align-items: center;
    justify-content: center;
  }

  #AboutAndIllu h2 {
    margin-right: 0;
  }

  #illu2 {
    display: none;
  }

  #aboutMe p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #42526e;
    text-align: center;
    margin-top: 0;
    width: 600px;
    display: flex;
  }
}

@media all and (min-width: 1100px) {
  #aboutMe {
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    background-image: none;
  }

  #illu2 {
    display: none;
  }

  #aboutMe p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #42526e;
    text-align: center;
    margin-top: 0;
    width: 992px;
    display: flex;
  }

  #aboutMe button {
    margin-top: 24px;
  }
}

@media all and (min-width: 1100px) {
  #aboutMe button {
    margin-top: 24px;
  }

  #aboutMe p {
    width: 768px;
  }

  #worksSkills {
    background-image: url(static/illustration-about-me-2-desktop@2x.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 18%;
    background-position-y: 73%;
  }

  body {
    background-image: url(static/illustration-about\ me-1-desktop@2x.png), url(static/bottomLeft.svg), url(static/bottomMiddle.png), url(static/bottomRight.png);
    background-position: bottom right, bottom left, bottom, bottom;
    background-repeat: no-repeat;
    background-size: 18%, 18%, 10%, 18%;
    background-position-y: 63%, 99%, 95%, 99%;
    background-position-x: 100%, 0, 25%, 100%;
  }

  #forFlex {
    width: 1056px;
    display: flex;
    border-bottom: 1px solid #dfe1e6;
    margin-top: 3em;
    align-items: center;
    justify-content: center;
    padding-bottom: 300px;
  }

  #forFlex h3 {
    font-size: 30px;
    line-height: 52px;
    font-weight: 700;
    text-align: center;
    color: #172b4d;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 3em;
    flex: 1.5;
  }

  #forFlex form {
    flex: 2;
  }

  form #msg {
    height: 8em;
  }

  #contactForm form {
    margin-top: 0;
    display: flex;
    align-items: flex-end;
  }

  #contactForm form button {
    margin-right: 430px;
  }

  #formEmail {
    display: none;
  }

  #contactForm {
    background: none;
  }
}
